/* Coolors Exported Palette - https://coolors.co/aa767c-ef476f-35393c-f0e7d8-5998c5 */

/* CSS HEX */
--old-rose: #aa767cff;
--paradise-pink: #ef476fff;
--onyx: #35393cff;
--linen: #f0e7d8ff;
--cerulean-frost: #5998c5ff;

/* CSS HSL */
--old-rose: hsla(353, 23%, 56%, 1);
--paradise-pink: hsla(346, 84%, 61%, 1);
--onyx: hsla(206, 6%, 22%, 1);
--linen: hsla(38, 44%, 89%, 1);
--cerulean-frost: hsla(205, 48%, 56%, 1);

/* SCSS HEX */
$old-rose: #aa767cff;
$paradise-pink: #ef476fff;
$onyx: #35393cff;
$linen: #f0e7d8ff;
$cerulean-frost: #5998c5ff;

/* SCSS HSL */
$old-rose: hsla(353, 23%, 56%, 1);
$paradise-pink: hsla(346, 84%, 61%, 1);
$onyx: hsla(206, 6%, 22%, 1);
$linen: hsla(38, 44%, 89%, 1);
$cerulean-frost: hsla(205, 48%, 56%, 1);

/* SCSS RGB */
$old-rose: rgba(170, 118, 124, 1);
$paradise-pink: rgba(239, 71, 111, 1);
$onyx: rgba(53, 57, 60, 1);
$linen: rgba(240, 231, 216, 1);
$cerulean-frost: rgba(89, 152, 197, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);
$gradient-right: linear-gradient(90deg, #aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);
$gradient-bottom: linear-gradient(180deg, #aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);
$gradient-left: linear-gradient(270deg, #aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);
$gradient-top-right: linear-gradient(45deg, #aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);
$gradient-bottom-right: linear-gradient(135deg, #aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);
$gradient-top-left: linear-gradient(225deg, #aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);
$gradient-bottom-left: linear-gradient(315deg, #aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);
$gradient-radial: radial-gradient(#aa767cff, #ef476fff, #35393cff, #f0e7d8ff, #5998c5ff);